/* styles.css*/

/*main css*/

/*font-family: "proxima-nova", sans-serif;
font-weight: 300;
font-style: normal;*/


* {
   box-sizing: border-box;
}

img {
   width: 100%;
   display: block;
}

/*.section-header {
   font-family: le-monde-livre-classic-byol, serif;
   font-weight: 500;
   font-style: normal;
   font-size: 3em;
   width: 100%;
   text-align: center;
   color: #120f41;
}

.section-text {
   max-width: 750px;
   padding: 0px 10px;
   margin: auto;
   font-family: urw-din, sans-serif;
   font-weight: 500;
   font-style: normal;
   font-size: 18px;

}

.section-directions {
   text-align: center;
}*/

#timeline {
   max-width: 980px;
}


.timeline-container {
   max-width: 100%;
   height: 600px;
   position: relative;
   background-color: white;
}

/*.timeline-overlay {
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0px;
   left: 0px;
   /*background-color: rgba(0,0,0,0.5);
   z-index: 749;
}*/

#videos {
   width: 100%;
   /*position: absolute;
   top: 0px;
   left: 0px;*/
}

   .video {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      opacity: 0;
   }

      .video video {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      .video img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

   .video0 {
      opacity: 1;
   }   

.back, .next {
   width: 40px;
/*   background-color: white;*/
   position: absolute;
   bottom: -120px;
   z-index: 750;
   cursor: pointer;
}

.back {
   left: 5px;
   display: none;
}

.next {
   right: 5px;
}

.timeline-content{
   background: linear-gradient(0deg, rgba(255,255,255,1) 57%, rgba(255,255,255,1) 90%, rgba(255,255,255,0) 100%);
   position: absolute;
   top: 500px;
   width: 100%;
   z-index: 700;
   padding: 25px 70px;
   font-family: "proxima-nova", sans-serif;
   font-weight: 300;
   font-style: normal;

   
}

.segment0{
   /*position: absolute;
   bottom: 0%;
   left: 0%;*/
/*   width: 100%;*/
   text-align: center;
   top: 545px;


}

.segment-title {
   color: black;
   font-size: 2em;
   line-height: 1.5em;
   border-bottom: 2px solid black;
}

.segment-title h2 {
   margin-bottom: 0px;
}

.segment-title h3 {
   margin: 1px;
   font-size: 20px;
}




.title0 {
   text-align: center;
}

.segment-content {
   display: flex;
   flex-direction: row-reverse;
   max-width: 600px;
}

.segment-photo {
   width: 0%;
   margin: auto;
   padding-right: 10px;
   display: none;
}

.segment-desc {
   width: 100%;
/*   margin: auto;*/
   padding: 10px;
   font-size: 18px;
   line-height: 28px;
   /*box-shadow: 0px 0px 5px grey;*/
}

.segment-desc audio {
   width: 100%;
}

.outline {
   border: 2px solid red;
   padding: 0px 1px;
}

.typical-outline {
   border: 2px solid green;
   padding: 0px 1px;
}









/*media query for responsive design */

@media only screen and (max-width: 640px) {

   .timeline-container {
      height: 450px;
   }

   .timeline-content {
      top: 380px;
      padding: 25px 55px;
   }

   .segment0 {
      top: 400px;
   }

   .segment-title {
      font-size: 1.5em;
   }

   .back, .next {
      width: 30px;

   }
}


@media only screen and (max-width: 500px) {

.timeline-container {
      height: 360px;
   }

   .timeline-content {
      top: 270px;
      padding: 25px 40px;
   }

   .segment0 {
      top: 300px;
   }

   .segment-title {
      font-size: 1.2em;
   }

   .back, .next {
      width: 30px;
      bottom: -100px;
   }

}











